package admin

import "github.com/kctjohnson/mid-blog/internal/templates/components"

templ Index() {
	@components.Layout("Admin") {
		@Navbar()
		<div class="prose p-8">
			<h1>Admin Panel</h1>
			<p>Manage all of the things here</p>
		</div>
	}
}
